<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
       <div class="w-full h-screen bg-zinc-700 text-white py-10 px-10">
         <h3 class="text-3xl tracking-tight pb-4">Create Account</h3>
        <form action="/register" method="post">
            <input class="py-2 px-3 outline-none bg-transparent border-2 border-zinc-500 rounded-lg block mb-2 w-1/4" type="text" placeholder="name"  name="name" id="">
            <input class="py-2 px-3 outline-none bg-transparent border-2 border-zinc-500 rounded-lg block mb-2 w-1/4" type="email" placeholder="email"  name="email" id="">
            <input class="py-2 px-3 outline-none bg-transparent border-2 border-zinc-500 rounded-lg block mb-2 w-1/4" type="password" placeholder="password"  name="password" id="">
            <input class="py-2 px-3 outline-none bg-transparent border-2 border-zinc-500 rounded-lg block mb-2 w-1/4" type="text" placeholder="username"  name="username" id="">
            <input class="py-2 px-3 outline-none bg-transparent border-2 border-zinc-500 rounded-lg block mb-2 w-1/4" type="number" placeholder="age"  name="age" id="">
            <input class="py-2 px-3 outline-none bg-blue-600 rounded-lg cursor-pointer" type="submit" value="Create Account">
        </form>
       </div>
</body>
</html>