<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
       <div class="w-full px-3 py-8 h-screen bg-zinc-700 text-white">
           <h3 class="text-3xl tracking-tight">Upload Profile Picture</h3>

           <form action="/upload" method="post" enctype="multipart/form-data" class="pt-5 cursor-pointer">
            <input type="file" name="profileimg" />
            <input type="submit" value="Uploaded images" class="bg-yellow-400 px-3 py-2 rounded-lg cursor-pointer">
           </form>
       </div>
</body>
</html>